body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 2;
    
}

/** Global **/

img{
    max-width: 100%;

}

h1{
    font-size: 38px;

}

h2{
    font-size: 32px;
}
h3{
    font-size: 30px;

}
h4{
    font-size: 26px;
}

.text-center{
    text-align: center;
}

.fw-300{
    font-weight: 300;
}

/** button **/

.button{
    color:#ffffff;
    font-weight:300;
    text-decoration: none;
    font-size: 18px;
    padding:10px;
    margin-top:30px;
    text-align: center;
    border:none;
    display:block;
    flex:100%;
}

.button-green{
    background-color:#718100;
}

.button-yellow{
    background-color:#e08709;

}

.button-red{
    background-color:rgb(236, 60, 60);
}

/** Header **/

.site-header{
    background-color: #333333;
    padding: 10px 0px 30px 0px;
}

.site-header.init{
    background-image: url(img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.content-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-header h1{
    color: #ffffff;
    padding-bottom: 20px;
    max-width: 600px;
    line-height: 2;

}

.bar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
}

/** menu **/

.menu a{
    color:white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
    display:inline-block;
}

.menu a:hover{
    color:#71b100;

}

.icon-us{
    display: flex;
    justify-content:space-between ;
}

/** products **/

.product-container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.product{
    border:1px solid #b5b5b5;
    background-color:#f5f5f5;
    flex-basis: calc(33.3% - 10px);
    margin-bottom:20px;
}

.product-content{
    margin:0px;
    padding:20px;
}

.price{
    color:#71b100;
    font-weight: bolder;
}

.icons-characteristics{
    list-style:none;
    padding:0px;
    display:flex;
    justify-content:space-evenly;
    flex: 1;
    max-width: 500px;
}

.icons-characteristics li{
    display:flex;
}

.icons-characteristics li img{
    margin-right:20px;
}